{% extends "layout/base.html" %}

{% block title %} Map {% endblock%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/map/style.css')}}">
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<style>
    .control-sidebar{
        width: 70vw !important;
        overflow: scroll;
    }
    #right-bar{
        display: flex;
    padding: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
    }
    #right-table th {
        vertical-align: middle;
    }
</style>

{% endblock %}


{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div id="map"> </div>
        </div>
    </section>
</div>

{% endblock %}

{% block right %}
<div id='right-bar'> 
<table id="right-table" class="table table-bordered">
    <thead>
        <tr>
            <th> T/B </th>
            <th> Nomi </th>
            <th> Turi </th>
            <th> Kadastr Raqami </th>
            <th> Stir Raqami </th>
            <th style="width: 50px;"> Jami maydoni </th>
            <th style="width: 50px;"> Jami Q.X yerlari </th>
            <th style="width: 50px;"> Jami Ekin yerlari </th>
            <th style="width: 50px;"> Jami sug'oriladigon ekin yerlari </th>
            <th style="width: 50px;"> Jami lalmi ekin yerlari </th>
    </tr>
    </thead>
    <tbody id="right-tbody">
        
    </tbody>
</table>
</div>

{% endblock %}


{% block js %}
{{ url_for('static', filename='dist/css/map/style.css')}}
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>



<script src="{{ url_for('static', filename='dist/js/map/leaflet.spin.min.js')}}"></script>
  <script src="{{ url_for('static', filename='dist/js/map/spin.min.js')}}"></script>
  <script src="{{ url_for('static', filename='dist/js/map/tuman.js')}}"></script>
  <script src="{{ url_for('static', filename='dist/js/map/style.js')}}"></script>


  <script>
    const defaultCenter = [42, 64]
    const defaultZoom = 8
    cad_num = "{{data}}";
    //let cad_num = location.search.split('districts=')[1]
   // if(!cad_num){
     //   cad_num = "17:10"
    //}
    const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
    const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    const grayscale = L.tileLayer(mbUrl, {id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
    const streets = L.tileLayer(mbUrl, {id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
    const satellite = L.tileLayer(mbUrl, {id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr});
    const googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
    });
    
    const baseLayers = {
            'Grayscale': grayscale,
            'Streets': streets,
            'Satellite': satellite,
            'Satellite (google)': googleSat
    }
    
    
    const map = L.map('map',
        {
            center: defaultCenter,
            zoom: defaultZoom,
            layers: [satellite]
        })
    
    var layerControl = L.control.layers(baseLayers).addTo(map);
    
    
    
    const district = districts_data['features']
    
    const findDistricts = district.find(d => {
      return d['properties']['cadastr_num'] == cad_num
    })
    
    
    
    let farmers = null
    if (!cad_num || !findDistricts ) {
        const all_districts = L.geoJSON(districts, {
          style: districtStyle,
          onEachFeature: (feature, layer) =>{}
         })
        all_districts.addTo(map)
        map.fitBounds(all_districts.getBounds())
    
    } else {
        const districtsLayer = L.geoJSON(findDistricts, {
          style: districtStyle,
    
        })
        districtsLayer.addTo(map).bindTooltip(findDistricts['properties']['name'],
          { permanent: true, direction: "center", className: "my-labels" }
        ).openTooltip()
        map.fitBounds(districtsLayer.getBounds())
        map.spin(true)
    
        $.ajax({
            url: 'https://api.agro.uz/gis_bridge/eijara?prefix='+cad_num,
            dataType: "json"
        }).always(response => {
            
            var t_r = 1;
            
            for(var item of response[0].features){
                console.log(item);
                var pr = item.properties;
                var it = `<tr>
                    <td class="text-center" >${t_r} </td>
                    <td> ${pr.full_name} </td>
                    <td> ${pr.baunit_type_title} </td>
                    <td> ${pr.cadastral_number} </td>
                    <td> ${pr.tax_number} </td>
                    <td> ${pr.legal_area} </td>
                    <td> ${pr.total_farmland_areas} </td>
                    <td> ${pr.total_arable_areas} </td>
                    <td> ${pr.arable_areas_with_water} </td>
                    <td> ${pr.arable_areas_without_wtr} </td>

                </tr>`;
                $("#right-tbody").append(it);
                t_r += 1;
               
            }
            $("#right-table").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 15, "searching": false 
              });

            farmers = L.geoJSON(response, {
                style: farmerStyle,
                onEachFeature: function (feature, layer) {
                    layer.on({
                        mouseover: highlightFeature,
                        mouseout: resetHighlight,
                        click: zoomToFeature
                    });
    
                    var popupContent = '<table>';
                        
                    for (var p in feature.properties) {

                        popupContent += '<tr><td>' + p + '</td><td>'+ feature.properties[p] + '</td></tr>';
                        }
                    popupContent += '</table>';
                    layer.bindPopup(popupContent);
       }
            })
            farmers.addTo(map)
            console.log(response[0]['features'].length)
    
            map.spin(false)
        })
    }
    
    function resetHighlight(e) {
        farmers.resetStyle(e.target);
    }
    
    
    function highlightFeature(e) {
        var layer = e.target;
    
        layer.setStyle({
            weight: 5,
            color: 'blue',
            dashArray: '',
            fillOpacity: 0.7
        });
    
        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
    }
    
    function zoomToFeature(e) {
        var layer = e.target;
    
        layer.setStyle({
            weight: 5,
            color: 'white',
            dashArray: '',
            fillOpacity: 0.7
        });
    
        map.fitBounds(e.target.getBounds());
    }
    //map.on('popupopen', function(centerMarker) {
    //    var cM = map.project(centerMarker.popup._latlng);
    //    cM.y -= centerMarker.popup._container.clientHeight/2
    //    map.setView(map.unproject(cM),16, {animate: true});
    //});
    
    
    
    var legend = L.control({position: 'bottomright'});
    
    legend.onAdd = function (map) {
    
        var div = L.DomUtil.create('div', 'info-b legend')
        div.innerHTML = `
            <div class="legent_item">
                  <span style="padding:0 15px; border:1px solid blue; margin: 0 5px"></span> Fermer xo'jaligi
            </div>
            <div class="legent_item">
                  <span style="padding:0 15px; border:1px solid red; margin: 0 5px"></span> Dehqon xo'jaligi
            </div>
            <div class="legent_item">
                  <span style="padding:0 15px; border:1px solid yellow; margin: 0 5px"></span> Dehqon xo'jaligi (auksion)
            </div>
            <div class="legent_item">
                  <span style="padding:0 15px; border:1px solid green; margin: 0 5px"></span> Korxonalarning qishloq xo‘jaligi yerlari
            </div>
        `
    
        return div;
    };
    
    legend.addTo(map);
    
    
    
    
    
    
    
    
    


  </script>

{% endblock%}