{% extends "layout/base.html" %}

{% block title %} Map {% endblock%}

{% block css %}

<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet"
    href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/map/style.css')}}">
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>

<style>

    .control-sidebar {
        width: 70vw !important;
        overflow: scroll;
    }

    #right-bar {
        display: flex;
        padding: 25px;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #right-table th {
        vertical-align: middle;
    }

</style>

{% endblock %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div id="map"> </div>
        </div>
    </section>
</div>

<div class="fixed_custom">
    <h1>Info </h1>
</div>

{% endblock %}

{% block right %}

<div id='right-bar'>
    
</div>

{% endblock %}

{% block js %}

{{ url_for('static', filename='dist/css/map/style.css')}}
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

<script src="{{ url_for('static', filename='dist/js/map/leaflet.spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/style.js')}}"></script>

<script>
    
    const defaultCenter = [42, 64]
    const defaultZoom = 8
    cad_num = "{{data}}";

    const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
    const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
    const grayscale = L.tileLayer(mbUrl, { id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr });
    const streets = L.tileLayer(mbUrl, { id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr });
    const satellite = L.tileLayer(mbUrl, { id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr });

    const baseLayers = {

        'Grayscale': grayscale,
        'Streets': streets,
        'Satellite': satellite,

    };

    const map = L.map('map',

        {
            center: defaultCenter,
            zoom: defaultZoom,
            layers: [satellite]

        });

    var layerControl = L.control.layers(baseLayers).addTo(map);

    $.ajax({

        url: '{{ url_for('api.get_district') }}',
        type: 'GET',
        dataType: 'json',
        xhrFields: {
            withCredentials: true,
        },
        success: function (data) {
            const districtsLayer = L.geoJSON(data, {
                style: districtStyle,
            })
            districtsLayer.addTo(map)
                .bindTooltip(data['features'][0]['properties']['nameru'],
                    { permanent: true, direction: "center", className: "my-labels" }
                ).openTooltip()
            map.fitBounds(districtsLayer.getBounds())
            map.spin(true)
            return data
        }

    });

    function render_map(geojson_url){

        $.ajax({

            url: geojson_url,
            dataType: "json"
    
        }).always(response => {

            var t_r = 1;
            $("#right-bar").empty();
            var table_main = `
            <table id="right-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th> T/B </th>
                        <th> Nomi </th>
                        <th> Turi </th>
                        <th> Kadastr Raqami </th>
                        <th> Stir Raqami </th>
                        <th style="width: 50px;"> Jami maydoni </th>
                        <th style="width: 50px;"> Jami Q.X yerlari </th>
                        <th style="width: 50px;"> Jami Ekin yerlari </th>
                        <th style="width: 50px;"> Jami sug'oriladigon ekin yerlari </th>
                        <th style="width: 50px;"> Jami lalmi ekin yerlari </th>
                    </tr>
                </thead>
        
                <tbody id="right-tbody">
        
                </tbody>
            </table>`
            $("#right-bar").append(table_main);
            for (var item of response[0].features) {
    
                var pr = item.properties;
                var it = `<tr>
                        <td class="text-center" >${t_r} </td>
                        <td> ${pr.full_name} </td>
                        <td> ${pr.baunit_type_title} </td>
                        <td> ${pr.cadastral_number} </td>
                        <td> ${pr.tax_number} </td>
                        <td> ${pr.legal_area} </td>
                        <td> ${pr.total_farmland_areas} </td>
                        <td> ${pr.total_arable_areas} </td>
                        <td> ${pr.arable_areas_with_water} </td>
                        <td> ${pr.arable_areas_without_wtr} </td>
    
                    </tr>`;
                $("#right-tbody").append(it);
                t_r += 1;
    
            };
    
            $("#right-table").DataTable({
    
                "responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 15, "searching": false,
    
            });
            
            farmers = L.geoJSON(response, {
    
                style: farmerStyle,
                onEachFeature: function (feature, layer) {
                    layer.on({
                        click: zoomToFeature
                    });
    
                    var popupContent = '<table>';
    
                        popupContent += '<tr><td>' + 'Suvli sug\'ariladigan yerlar' + '</td><td>' + feature.properties.arable_areas_with_water + '</td></tr>';
                        popupContent += '<tr><td>' + 'Suvsiz sug\'ariladigan yerlar' + '</td><td>' + feature.properties.arable_areas_without_wtr + '</td></tr>';
                        popupContent += '<tr><td>' + 'Yet turi' + '</td><td>' + feature.properties.baunit_type_title + '</td></tr>';
                        popupContent += '<tr><td>' + 'Kadastr raqami' + '</td><td>' + feature.properties.cadastral_number + '</td></tr>';
                        popupContent += '<tr><td>' + 'Nomi' + '</td><td>' + feature.properties.full_name + '</td></tr>';
                        popupContent += '<tr><td>' + 'Jami maydoni' + '</td><td>' + feature.properties.legal_area + '</td></tr>';
                        popupContent += '<tr><td>' + 'STIR Raqami' + '</td><td>' + feature.properties.tax_number + '</td></tr>';
                        popupContent += '<tr><td>' + 'Jami sug\'ariladigan yerlar' + '</td><td>' + feature.properties.total_arable_areas + '</td></tr>';
                        popupContent += '<tr><td>' + 'Jami q.x. yerlari' + '</td><td>' + feature.properties.total_farmland_areas + '</td></tr>';
                        popupContent += '<tr><td>' + 'Tuman' + '</td><td>' + feature.properties.tuman + '</td></tr>';
                        popupContent += '<tr><td>' + 'Viloyat' + '</td><td>' + feature.properties.viloyat + '</td></tr>';
    
                    popupContent += `</table> <br/><a href="/map/item?cadastral_number=${feature.properties.cadastral_number}">View detail</a>`
                    layer.bindPopup(popupContent);
    
                }
    
            });
    
            farmers.addTo(map);
            map.spin(false);
    
        });
    }

    function zoomToFeature(e) {

        var layer = e.target;
        farmers.resetStyle()
        layer.setStyle({color: 'red', weight: '5'})
        map.fitBounds(e.target.getBounds());
        
    };

    $(document).ready(function(){

        $('.fixed_custom').animate({opacity: '1'},2000);
        render_map('{{url_for('api.kadastr.getby_prefix')}}?prefix=' + cad_num);
        
    });

    var filter = L.control({
        position: 'bottomright'
    });
    
    function click_filter(e){
        map.spin(true);
        farmers.remove();
        var url = $(e).attr("data-url");
        render_map(url);
    }

    filter.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'filter');
        div.innerHTML = `
            

            <button id="returnAll" onclick="click_filter(this)" class="filter_item" data-url="{{ url_for('api.kadastr.filter_kadastr') }}?prefix=${cad_num}&filters=">Barcha yerlar</button>
            <button id="returnDehkan" onclick="click_filter(this)" class="filter_item" data-url="{{ url_for('api.kadastr.filter_kadastr') }}?prefix=${cad_num}&filters=and%20baunit_type%20=%20%27bu_type_land_dehkan%27">Dehqon xo'jaliklari</button>
            <button id="returnFarm" onclick="click_filter(this)" class="filter_item" data-url="{{ url_for('api.kadastr.filter_kadastr') }}?prefix=${cad_num}&filters=and%20baunit_type%20=%20%27bu_type_land_farm%27" >Fermer xo'jaliklari</button>
            <button id="returnDehkanAuction" onclick="click_filter(this)" class="filter_item" data-url="{{ url_for('api.kadastr.filter_kadastr') }}?prefix=${cad_num}&filters=and%20baunit_type%20=%20%27bu_type_land_dehkan_auction%27" >Zaxira yerlar</button>
            <button id="returnEnterprises" onclick="click_filter(this)" class="filter_item" data-url="{{ url_for('api.kadastr.filter_kadastr') }}?prefix=${cad_num}&filters=and%20baunit_type%20=%20%27bu_type_agricultural_enterprises%27" >Korxonalarga tegishli yerlar</button>

          
        `;

        return div;
    };

    filter.addTo(map);

</script>

{% endblock%}