{% extends "layout/base.html" %}

{% block title %} Map {% endblock%}

{% block css %}
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/map/style.css')}}">
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<style>
  .control-sidebar {
    width: 70vw !important;
    overflow: scroll;
  }

  #right-bar {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #right-table th {
    vertical-align: middle;
  }
</style>

{% endblock %}


{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div id="map"> </div>
    </div>
  </section>
</div>

{% endblock %}

{% block right %}
<div id='right-bar'>

</div>

{% endblock %}


{% block js %}
{{ url_for('static', filename='dist/css/map/style.css')}}
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>
<script src="{{ url_for('static', filename='dist/js/map/leaflet.spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/style.js')}}"></script>


<script>
  const defaultCenter = [42, 64]
  const defaultZoom = 10
  let cadastral_number = "{{cadastral_number}}";

  const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
  const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

  const grayscale = L.tileLayer(mbUrl, { id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr });
  const streets = L.tileLayer(mbUrl, { id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr });
  const satellite = L.tileLayer(mbUrl, { id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr });

  const baseLayers = {
    'Grayscale': grayscale,
    'Streets': streets,
    'Satellite': satellite,
  }

  const map = L.map('map',
    {
      center: defaultCenter,
      zoom: defaultZoom,
      layers: [satellite]
    })

  var layerControl = L.control.layers(baseLayers).addTo(map);
  map.spin(true)

  $.ajax({
    url: '{{ url_for('api.kadastr.getby_kadastr') }}?prefix=' + cadastral_number,
    type: 'GET',
    dataType: 'json',
    xhrFields: {
      withCredentials: true
    },
    success: function (data) {
      const Layer = L.geoJSON(data, {
        style: {
          color: 'red',
          fillColor: 'transparent',
          weight: 5,
        },
        onEachFeature: function (feature, layer) { }
      });

      Layer.addTo(map)

      map.fitBounds(Layer.getBounds())
      map.spin(false)
      return data
    }
  })

  var drawnItems = new L.FeatureGroup();
  map.addLayer(drawnItems);

  var options = {
    position: 'topright',
    draw: {
      polygon: {
        allowIntersection: false, // Restricts shapes to simple polygons
        drawError: {
          color: 'blue', // Color the shape will turn when intersects
          message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
        },
        shapeOptions: {
          color: 'red'
        }
      },
      circle: false,
      circlemarker: false,
      marker: false,
      polyline: false,
      rectangle: false,
    },
    edit: {
      featureGroup: drawnItems, //REQUIRED!!
      remove: true
    }
  };
  var drawControl = new L.Control.Draw(options);

  map.addControl(drawControl);

  map.on(L.Draw.Event.CREATED, function (e) {

    var type = e.layerType
    var layer = e.layer;
    drawnItems.addLayer(layer);
    var objects = layer.getLatLngs()[0];
    let geom = [[]]
    // o.Point {x: 744794.1851014761, y: -5309112.129212381}
    for (var i = 0; i < objects.length; i++) {
      var latlng = new L.latLng(objects[i].lat, objects[i].lng);
      var point = L.Projection.SphericalMercator.project(latlng);
      console.log(point);
      // console.log(L.Projection.LonLat.project(latlng));
      // console.log(L.Projection.Mercator.project(latlng));

      geom[0].push([point['x'], point['y']])
    }
    // drawnItems.clearLayers();

    // fetch('http://localhost:1001/save', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify(geom)
    // })
    //     .then(data => {
    //         // location.reload();
    //         renderData = null
    //         addGeoJson()
    //         // console.log(geom);
    //     })
  })




</script>
{% endblock%}