{% extends "layout/base.html" %}

{% block title %} Map {% endblock%}

{% block css %}
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/map/style.css')}}">
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<style>
  .control-sidebar {
    width: 70vw !important;
    overflow: scroll;
  }

  #right-bar {
    display: flex;
    padding: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #right-table th {
    vertical-align: middle;
  }
</style>

{% endblock %}


{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div id="map"> </div>
    </div>
  </section>
</div>

{% endblock %}

{% block right %}
<div id='right-bar'>

</div>

{% endblock %}


{% block js %}
{{ url_for('static', filename='dist/css/map/style.css')}}
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>
<script src="{{ url_for('static', filename='dist/js/map/leaflet.spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/style.js')}}"></script>

<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

<script>
  const defaultCenter = [42, 64];
  const defaultZoom = 10;
  let cadastral_number = "{{cadastral_number}}";

  const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
  const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';

  const grayscale = L.tileLayer(mbUrl, { id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr });
  const streets = L.tileLayer(mbUrl, { id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, attribution: mbAttr });
  const satellite = L.tileLayer(mbUrl, { id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, attribution: mbAttr });

  const baseLayers = {
    'Grayscale': grayscale,
    'Streets': streets,
    'Satellite': satellite,
  }

  const map = L.map('map',
    {
      center: defaultCenter,
      zoom: defaultZoom,
      layers: [satellite],
    });

  var layerControl = L.control.layers(baseLayers).addTo(map);
  map.spin(true);

  var data_temp = {
    district_id: {{ current_user.district_id }},
    farm_tax_number: null,
    farm_cad_number: null,
  };
  
  $.ajax({
    url: '{{ url_for('api.kadastr.getby_kadastr') }}?prefix=' + cadastral_number,
    type: 'GET',
    dataType: 'json',
    xhrFields: {
      withCredentials: true,
    },
    success: function (data) {

      data_temp.farm_cad_number = data[0].features[0].properties.cadastral_number;
      data_temp.farm_tax_number = data[0].features[0].properties.tax_number;
      
      const Layer = L.geoJSON(data, {
        style: {
          color: 'red',
          fillColor: 'transparent',
          weight: 2,
        },
        onEachFeature: function (feature, layer) {  
          layer.options.interactive = false;
         },
      });

      Layer.addTo(map);

      map.fitBounds(Layer.getBounds());
      return data;
    }
  });
  $.ajax({
    url: '{{ url_for('api.crop.get_crop_geojson') }}',
    type: 'GET',
    dataType: 'json',
    data: {
      cadastral_number: cadastral_number,
    },
    xhrFields: {
      withCredentials: true,
    },
    success: function (data) {

      console.log(data);

      var t_r = 1;
      $("#right-bar").empty();
      var table_main = `
      <table id="right-table" class="table table-bordered">
          <thead>
              <tr>
                  <th> № </th>
                  <th> Yer maydoni </th>
                  <th> Ekin turi </th>
                  <th> Ball bonitet </th>
                  <th> Contour Number </th>
                  <th> Fermer kadastr raqami </th>
                  <th> Fermer soliq raqami </th>
                  <th> Qo'shilgan vaqti </th>
                  <th> Ohirgi o'zgartirish qilinga kuni </th>
              </tr>
          </thead>
  
          <tbody id="right-tbody">
  
          </tbody>
      </table>`

      $("#right-bar").append(table_main);

      Object.keys(data).forEach(function (key) {
        const Layer = L.geoJSON(data[key]['feature_collection'], {
          style: {
            color: data[key]['color'],
            weight: 3,
          },
          onEachFeature: function (feature, layer) {
            console.log(feature.properties);
            var popupContent = '<table>';
              popupContent += '<tr><td>' + 'Ekin nomi' + '</td><td>' + data[key]['name'] + '</td></tr>';
              popupContent += '<tr><td>' + 'Counter Number' + '</td><td>' + feature.properties.contour_number + '</td></tr>';
              popupContent += '<tr><td>' + 'Ball Bonitet' + '</td><td>' + feature.properties.ball_bonitet + '</td></tr>';
              popupContent += '<tr><td>' + 'Maydoni' + '</td><td>' + feature.properties.area.toFixed(2) + '</td></tr>';
            popupContent += `</table>`;
            ;
            layer.bindPopup(popupContent);
            // console.log($('path.leaflet-interactive __web-inspector-hide-shortcut__').fill);

            var it = `<tr>
            
              <td class="text-center" >${t_r} </td>
              <td> ${parseFloat(feature.properties.area).toFixed(2)} ga</td>
              <td> ${feature.properties.cropname} </td>
              <td> ${feature.properties.ball_bonitet} </td>
              <td> ${feature.properties.contour_number} </td>
              <td> ${feature.properties.farm_cad_number} </td>
              <td> ${feature.properties.farm_tax_number} </td>
              <td> ${feature.properties.created_at} </td>
              <td> ${feature.properties.updated_at} </td>

              </tr>`;
            $("#right-tbody").append(it);
            t_r += 1;
          }
        });
        Layer.addTo(map);
      })

      $("#right-table").DataTable({

        "responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 15, "searching": false,

      });
      
      map.spin(false);
      return data;
    }
  });

  var drawnItems = new L.FeatureGroup();
  map.addLayer(drawnItems);

  var options = {
    position: 'topright',
    draw: {
      polygon: {
        allowIntersection: false, // Restricts shapes to simple polygons
        drawError: {
          color: 'blue', // Color the shape will turn when intersects
          message: '<strong>Oh snap!<strong> you can\'t draw that!', // Message that will show when intersect
        },
        shapeOptions: {
          color: 'red',
        }
      },
      circle: false,
      circlemarker: false,
      marker: false,
      polyline: false,
      rectangle: false,
    },
    edit: {
      featureGroup: drawnItems, //REQUIRED!!
      remove: true,
    }
  };
  var drawControl = new L.Control.Draw(options);
  map.addControl(drawControl);
  map.on(L.Draw.Event.CREATED, function (e) {
    map.removeControl(drawControl);
    drawControl = new L.Control.Draw({
      position: 'topright',
      draw: false,
      edit: {
        featureGroup: drawnItems, //REQUIRED!!
        remove: true,
      }
    });
    map.addControl(drawControl);
    var type = e.layerType;
    var layer = e.layer;
    drawnItems.addLayer(layer);
    let popupContent = `
    <div class='save-polygon'>
      <input name='contour_number'><label for='contour_number'>Counter Number</label>
      <input name='ball_bonitet'><label for='ball_bonitet'>Ball Bonitet</label>
      <select name='crop_name' required>
        <option hidden disabled selected>Ekinni tanlang</option>`
    $.ajax({
      url: '{{ url_for('api.crop.getcrops') }}',
      type: 'GET',
      dataType: 'json',
      xhrFields: {
        withCredentials: true,
      },
      success: function (data) {
        // console.log(data);
        data.forEach(element => {
          popupContent += "<option value='" + element.code + "'>" + element.name + "</option>";
        });
        popupContent += "</select>";
        popupContent += "<label for='crop_name'>Ekin Nomi</label>";
        popupContent += "<button id='save-polygon-btn' class='btn btn-success' style='padding-top: 10px'>Save</button></div>";
        layer.bindPopup(popupContent).openPopup();
        /*popupContent += "</select><button class='btn btn-primary save-polygon-btn'>Save</button></div>"
        layer.bindPopup(popupContent).openPopup()*/
       
        var objects = layer.getLatLngs()[0];
        let geom = [[]];
        // o.Point {x: 744794.1851014761, y: -5309112.129212381}
        var first = "";
        for (var i = 0; i < objects.length; i++) {
          if (i == 0) {
            first = new L.latLng(objects[i].lat, objects[i].lng)};

          var latlng = new L.latLng(objects[i].lat, objects[i].lng);
          //var point = L.Projection.SphericalMercator.project(latlng);
          var point = latlng; 
          // console.log(point);
          // console.log(L.Projection.LonLat.project(latlng));
          // console.log(L.Projection.Mercator.project(latlng));
    
          geom[0].push([point['lng'], point['lat']]);
        }
        geom[0].push([first['lng'], first['lat']]);
        // console.log(geom);
        document.querySelector('.leaflet-popup-close-button span').addEventListener('click', () => {
          drawnItems.clearLayers();
          map.removeControl(drawControl);
          drawControl = new L.Control.Draw(options);
          map.addControl(drawControl);
        });
        $("#save-polygon-btn").click(function () {
          let crop_name = $("select[name='crop_name']").val();
          let contour_number = $("input[name='contour_number']").val();
          let ball_bonitet = $("input[name='ball_bonitet']").val();
          if (crop_name != null && contour_number != null && ball_bonitet != null) {
            let data = {
              "geom": geom,
              "crop_name": crop_name,
              "contour_number": contour_number,
              "ball_bonitet": ball_bonitet,
              "district_id": data_temp.district_id,
              "farm_cad_number": data_temp.farm_cad_number,
              "farm_tax_number": data_temp.farm_tax_number,
            };
            // console.log(data);
            $.ajax({
              url: '{{ url_for('api.crop.crop_main') }}',
              type: 'POST',
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              xhrFields: {
                withCredentials: true,
              },
              success: function (data) {
                map.spin(false);
                console.log(data);
                drawnItems.clearLayers();
                location.reload();
                // console.log(data);
                /* map.removeControl(drawControl);
                drawnItems.clearLayers();
                drawControl = new L.Control.Draw(options);
                map.addControl(drawControl);*/
              }
            })
          }
        })
      }
    })

    // drawnItems.clearLayers();

    // fetch('http://localhost:1001/save', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify(geom)
    // })
    //     .then(data => {
    //         // location.reload();
    //         renderData = null
    //         addGeoJson()
    //         // console.log(geom);
    //     })
  })

  map.on(L.Draw.Event.DELETED, function (e) {
    map.removeControl(drawControl);
    drawControl = new L.Control.Draw(options);
    map.addControl(drawControl);
  });

</script>
{% endblock%}