{% extends "layout/base.html" %}

{% block title %} Map {% endblock%}

{% block css %}
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
<link rel="stylesheet"
  href="{{ url_for('static', filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/map/style.css')}}">
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
<style>
  .control-sidebar {
    width: 70vw !important;
    overflow: scroll;
  }

  #right-bar {
    display: inline-block;
    padding: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #right-table {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #right-table th {
    vertical-align: middle;
  }

  .bottom2top {
    writing-mode: tb-rl;
    transform: rotate(180deg);
  }
</style>

{% endblock %}


{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div style="width: 70%">
          <div id="map"> </div>
        </div>
        <div style="width: 30%">
          <table id="farm-table" class="table table-bordered">
          </table>
        </div>
      </div>
    </div>
  </section>
</div>

<button id="edit_button">Edit</button>

{% endblock %}

{% block right %}
<div id='right-bar'>

</div>

{% endblock %}


{% block js %}
{{ url_for('static', filename='dist/css/map/style.css')}}
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>
<script src="{{ url_for('static', filename='dist/js/map/leaflet.spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/spin.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/map/style.js')}}"></script>

<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jszip/jszip.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/pdfmake.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/pdfmake/vfs_fonts.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>

<script>
  const defaultCenter = [42, 64];
  const defaultZoom = 10;
  let cadastral_number = "{{cadastral_number}}";

  const mbAttr = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
  const mbUrl = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
  // const mbUrl = 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}';
  const grayscale = L.tileLayer(mbUrl, { id: 'mapbox/light-v9', tileSize: 512, zoomOffset: -1, /*attribution: mbAttr*/ });
  const streets = L.tileLayer(mbUrl, { id: 'mapbox/streets-v11', tileSize: 512, zoomOffset: -1, /*attribution: mbAttr*/ });
  const satellite = L.tileLayer(mbUrl, { id: 'mapbox/satellite-v9', tileSize: 512, zoomOffset: -1, /*attribution: mbAttr*/ });

  const baseLayers = {
    'Grayscale': grayscale,
    'Streets': streets,
    'Satellite': satellite,
  }

  const map = L.map('map',
    {
      center: defaultCenter,
      zoom: defaultZoom,
      layers: [satellite],
    });

  var layerControl = L.control.layers(baseLayers).addTo(map);
  map.spin(true);

  var data_temp = {
    district_id: {{ current_user.district_id }},
    farm_tax_number: null,
    farm_cad_number: null,
  };
  var full_name = null;

  var editing = false;

  map.doubleClickZoom.disable(); 

  $.ajax({
    url: '{{ url_for('api.kadastr.getby_kadastr') }}?prefix=' + cadastral_number,
    type: 'GET',
    dataType: 'json',
    xhrFields: {
      withCredentials: true,
    },
    async: false,
    success: function (data) {
      const properties = data[0].features[0].properties
      data_temp.farm_cad_number = properties.cadastral_number;
      data_temp.farm_tax_number = properties.tax_number;
      Object.keys(properties).forEach(function (key) {
        $("#farm-table").append(
          "<tr>" +
          "<td>" + key + "</td>" +
          "<td>" + properties[key] + "</td>" +
          "</tr>"
        );
        if (key == "full_name") {
          full_name = properties[key]
        }
      });
      $("#farm-table").parent().css({
        "max-height": "90vh",
        "overflow-x": "hidden",
        "overflow-y": "scroll",
        "word-break": "break-word"
      })
      
      const Layer = L.geoJSON(data, {
        style: {
          color: 'white',
          fillColor: 'transparent',
          weight: 2,
        },
        onEachFeature: function (feature, layer) {  
          layer.options.interactive = false;
         },
      });

      Layer.addTo(map);

      map.fitBounds(Layer.getBounds());
      return data;
    }
  });

  var drawnItems = new L.FeatureGroup();
  map.addLayer(drawnItems);

  var allGeoJson = {}
  function setLayer() {
    $.ajax({
      url: '{{ url_for('api.crop.get_crop_geojson') }}',
      type: 'GET',
      dataType: 'json',
      data: {
        cadastral_number: cadastral_number,
      },
      xhrFields: {
        withCredentials: true,
      },
      async: false,
      success: function (data) {

        // console.log(data);

        var t_r = 1;
        $("#right-bar").empty();
        var table_main = `
        <table id="right-table" class="table table-bordered">
            <thead>
                <tr>
                    <th> № </th>
                    <th> Yer maydoni </th>
                    <th> Ekin turi </th>
                    <th> Ball bonitet </th>
                    <th> Kontur raqami </th>
                    <th> Yer turi </th>
                    <th> Ekish usuli </th>
                    <th> Ekish turi </th>
                    <th> Fermer kadastr raqami </th>
                    <th> Fermer soliq raqami </th>
                    <th> Qo'shilgan vaqti </th>
                    <th> Ohirgi o'zgartirish qilinga kuni </th>
                </tr>
            </thead>
    
            <tbody id="right-tbody">
    
            </tbody>
        </table>`

        $("#right-bar").append(table_main);

        Object.keys(data).forEach(function (key) {
          const Layer = L.geoJSON(data[key]['feature_collection'], {
            style: {
              color: data[key]['color'],
              weight: 3,
            },
            onEachFeature: function (feature, layer) {
              // console.log(feature.properties);
              var popupContent = '<table>';
                popupContent += '<tr><td>' + 'Full name' + '</td><td>' + full_name + '</td></tr>';
                popupContent += '<tr><td>' + 'Ekin nomi' + '</td><td>' + data[key]['name'] + '</td></tr>';
                popupContent += '<tr><td>' + 'Kontur raqami' + '</td><td>' + feature.properties.contour_number + '</td></tr>';
                popupContent += '<tr><td>' + 'Hosildorlik (t)' + '</td><td>' + feature.properties.ball_bonitet + '</td></tr>';
                popupContent += '<tr><td>' + 'Umumiy maydoni (ga)' + '</td><td>' + feature.properties.area.toFixed(2) + '</td></tr>';
                popupContent += '<tr><td>' + 'Yer turi' + '</td><td>' + feature.properties.land_type + '</td></tr>';
                popupContent += '<tr><td>' + 'Ekish turi' + '</td><td>' + feature.properties.planting_type + '</td></tr>';
                popupContent += '<tr><td>' + 'Ekish usuli' + '</td><td>' + feature.properties.planting_method + '</td></tr>';
              popupContent += `</table>`;
              ;
              layer.bindPopup(popupContent);

              // console.log($('path.leaflet-interactive __web-inspector-hide-shortcut__').fill);

              var it = `<tr>
              
                <td class="text-center" >${t_r} </td>
                <td> ${parseFloat(feature.properties.area).toFixed(2)} ga</td>
                <td> ${feature.properties.crops} </td>
                <td> ${feature.properties.ball_bonitet} </td>
                <td> ${feature.properties.contour_number} </td>
                <td> ${feature.properties.land_types} </td>
                <td> ${feature.properties.planting_methods} </td>
                <td> ${feature.properties.planting_types} </td>
                <td> ${feature.properties.farm_cad_number} </td>
                <td> ${feature.properties.farm_tax_number} </td>
                <td> ${feature.properties.created_at} </td>
                <td> ${feature.properties.updated_at} </td>

                </tr>`;
              $("#right-tbody").append(it);
              t_r += 1;

              layer.on('dblclick', (e) => {
                map.closePopup()

                layer._latlngs = layer._latlngs[0];

                var editItems = e.layer;
                editItems = new L.FeatureGroup();
                map.addLayer(editItems);
                map.removeControl(drawControl);
                drawControl = new L.Control.Draw({
                  position: 'topright',
                  draw: false,
                  edit: {
                    featureGroup: editItems,
                    remove: true,
                  }
                });
                map.addControl(drawControl);
                editItems.addLayer(layer);
              });
            }
          });
          Layer.addTo(map);
          allGeoJson[key] = Layer
        })

        $("#right-table").DataTable({

          "responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 15, "searching": false,

        });
        
        map.spin(false);
        return data;
      }
    });
    $.ajax({
      url: '{{ url_for('api.crop.get_crop_data_by_farmer') }}',
      type: 'POST',
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify({
        cadastral_number: cadastral_number,
      }),
      xhrFields: {
        withCredentials: true,
      },
      async: false,
      success: function (data) {
        // console.log(data);
        $("#right-bar").empty();
        var table_main = `
        <table id="right-table" class="table table-bordered">
            <thead class='text-center'>
                <tr>
                    <th rowspan='4'> Т/р </th>
                    <th rowspan='4'> Ердан фойдаланувчилар номи </th>
                    <th rowspan='4' class='bottom2top'> Контур раками </th>
                    <th rowspan='4'> Жами экин экиладиган майдон </th>
                    <th colspan='15'>Шундан қишлоқ хўжалиги экинларининг жойлашуви:</th>
                    <th colspan='20'>Шундан қишлоқ хўжалиги экинларининг жойлашуви:</th>
                    <th colspan='14'>Шундан қишлоқ хўжалиги экинларининг жойлашуви:</th>
                </tr>
                <tr>
                    <th rowspan='3'>Техник экинлар</th>
                    <th colspan='3'>Шундан</th>
                    <th rowspan='3'>Бошоқли донли экинлар</th>
                    <th colspan='3'>Шундан</th>
                    <th rowspan='3'>шоли</th>
                    <th rowspan='3'>Дуккакли дон экинлари</th>
                    <th colspan='5'>Шундан</th>
                    <th rowspan='3'>Мойли экинлар</th>
                    <th colspan='5'>Шундан</th>
                    <th rowspan='3'>Сабзавот</th>
                    <th rowspan='3'>Полиз</th>
                    <th colspan='3'>Шундан</th>
                    <th rowspan='3'>Картошка</th>
                    <th rowspan='3'>Озуқа (ем-хашак) экинлар</th>
                    <th colspan='5'>Шундан</th>
                    <th rowspan='3'>Доривор экинлар</th>
                    <th rowspan='3'>Супурги</th>
                    <th rowspan='3'>Паст балл бонитетли ерларда барпо қилинадиган кўп йиллик дарахтзорлар</th>
                    <th colspan='9'>Шундан</th>
                </tr>
                <tr>
                    <th rowspan='2' class='bottom2top'>ғўза</th>
                    <th rowspan='2' class='bottom2top'>каннабис</th>
                    <th rowspan='2' class='bottom2top'>тамаки</th>
                    <th rowspan='2' class='bottom2top'>буғдой</th>
                    <th rowspan='2' class='bottom2top'>арпа</th>
                    <th rowspan='2' class='bottom2top'>тритикале</th>
                    <th rowspan='2' class='bottom2top'>нўхат</th>
                    <th rowspan='2' class='bottom2top'>мош</th>
                    <th rowspan='2' class='bottom2top'>ловия</th>
                    <th rowspan='2' class='bottom2top'>қизил ловия</th>
                    <th rowspan='2' class='bottom2top'>ерёнғоқ</th>
                    <th rowspan='2' class='bottom2top'>соя</th>
                    <th rowspan='2' class='bottom2top'>кунгабоқар</th>
                    <th rowspan='2' class='bottom2top'>кунжут</th>
                    <th rowspan='2' class='bottom2top'>седана</th>
                    <th rowspan='2' class='bottom2top'>рапс</th>
                    <th rowspan='2' class='bottom2top'>тарвуз</th>
                    <th rowspan='2' class='bottom2top'>қовун</th>
                    <th rowspan='2' class='bottom2top'>қовоқ</th>
                    <th rowspan='2' class='bottom2top'>беда</th>
                    <th rowspan='2' class='bottom2top'>хашаки лавлаги</th>
                    <th rowspan='2' class='bottom2top'>оқ жўхори силос учун</th>
                    <th rowspan='2' class='bottom2top'>макка дон учун</th>
                    <th rowspan='2' class='bottom2top'>макка силос учун</th>
                    <th rowspan='2' class='bottom2top'>интенсив боғлар</th>
                    <th colspan='6'>шу жумладан:</th>
                    <th rowspan='2' class='bottom2top'>узумзорлар</th>
                    <th rowspan='2' class='bottom2top'>тутзорлар</th>
                </tr>
                <tr>
                    <th class='bottom2top'>данакли</th>
                    <th class='bottom2top'>уруғлик</th>
                    <th class='bottom2top'>ёнғоқ мевалилар</th>
                    <th class='bottom2top'>анор</th>
                    <th class='bottom2top'>зайтун</th>
                    <th class='bottom2top'>малина</th>
                </tr>
            </thead>
    
            <tbody id="right-tbody">
    
            </tbody>
        </table>`

        $("#right-bar").append(table_main);
        for (let i = 0; i < data.length; i++) {
          var it = "<tr>"
          it += "<td class='text-center'>" + (i + 1) + "</td>"
          it += "<td>" + full_name + "</td>"
          data[i].forEach(function (value, index) {
            if (index == 0) {
              it += `<td>${value}</td>`
            } else {
              it += `<td class='text-center'>${value == 0 ? value : value.toFixed(2)}</td>`
            }
          });
          it += "</tr>";
          $("#right-tbody").append(it);
        }
      }
    });
  }
  setLayer();

  var options = {
    position: 'topright',
    draw: {
      polygon: {
        allowIntersection: false, // Restricts shapes to simple polygons
        drawError: {
          color: 'blue', // Color the shape will turn when intersects
          message: '<strong>Oh snap!<strong> you can\'t draw that!', // Message that will show when intersect
        },
        shapeOptions: {
          color: 'red',
        }
      },
      circle: false,
      circlemarker: false,
      marker: false,
      polyline: false,
      rectangle: false,
    },
    edit: {
      featureGroup: drawnItems,
      remove: true,
    }
  };
  var drawControl = new L.Control.Draw(options);
  map.addControl(drawControl);
  map.on(L.Draw.Event.CREATED, function (e) {
    map.removeControl(drawControl);
    drawControl = new L.Control.Draw({
      position: 'topright',
      draw: false,
      drag: true,
      edit: {
        featureGroup: drawnItems,
        remove: true,
      }
    });
    map.addControl(drawControl);
    var type = e.layerType;
    var layer = e.layer;
    console.log(layer)
    drawnItems.addLayer(layer);
       
    var objects = layer.getLatLngs()[0];
    var geom = [[]];
    // o.Point {x: 744794.1851014761, y: -5309112.129212381}
    var first = "";
    for (var i = 0; i < objects.length; i++) {
      if (i == 0) {
        first = new L.latLng(objects[i].lat, objects[i].lng)};

      var latlng = new L.latLng(objects[i].lat, objects[i].lng);
      var point = latlng; 

      geom[0].push([point['lng'], point['lat']]);
    }
    geom[0].push([first['lng'], first['lat']]);

    var area = null

    $.ajax({
      url: '{{ url_for('api.crop.calc_area') }}',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        geom: geom,
      }),
      async: false,
      success: function (data) {
        area = data['area'];
      }
    })
    let popupContent = `
    <div class='save-polygon'>
      <input name='area' value='${full_name}' readonly><label for='area'>Full name</label>
      <input name='area' value='${area.toFixed(2)}' readonly><label for='area'>Umumiy maydoni (ga)</label>
      <input name='contour_number'><label for='contour_number'>Kontur raqami</label>
      <input name='ball_bonitet'><label for='ball_bonitet'>Hosildorlik (t)</label>`
    $.ajax({
      url: '{{ url_for('api.crop.get_select_data') }}',
      type: 'GET',
      dataType: 'json',
      xhrFields: {
        withCredentials: true,
      },
      success: function (data) {
        Object.keys(data).forEach(key => {
          popupContent += "<select name='" + data[key]['key'] + "' required>"
          popupContent += "<option hidden disabled selected>Tanlang</option>"
            data[key]['items'].forEach(element => {
              popupContent += "<option value='" + element.id + "'>" + element.name + "</option>";
            });
          popupContent += "</select>";
          popupContent += "<label for='" + data[key]['key'] + "'>" + data[key]['name'] + "</label>";
        });
        popupContent += "<button id='save-polygon-btn' class='btn btn-success' style='padding-top: 10px'>Save</button></div>";
        layer.bindPopup(popupContent).openPopup();
        document.querySelector('.leaflet-popup-close-button span').addEventListener('click', () => {
          drawnItems.clearLayers();
          map.removeControl(drawControl);
          drawControl = new L.Control.Draw(options);
          map.addControl(drawControl);
        });
        $("#save-polygon-btn").click(function () {
          let crop_name = $("select[name='crop_name']").val();
          let contour_number = $("input[name='contour_number']").val();
          let ball_bonitet = $("input[name='ball_bonitet']").val();
          let land_type_id = $("select[name='land_type_id']").val();
          let planting_type_id = $("select[name='planting_type_id']").val();
          let planting_method_id = $("select[name='planting_method_id']").val();
          if (crop_name != null && contour_number != null && ball_bonitet != null && land_type_id != null && planting_type_id != null && planting_method_id != null) {
            let data = {
              "geom": geom,
              "crop_name": crop_name,
              "contour_number": contour_number,
              "productivity": ball_bonitet,
              "district_id": data_temp.district_id,
              "land_type_id": land_type_id,
              "planting_type_id": planting_type_id,
              "planting_method_id": planting_method_id,
              "farm_cad_number": data_temp.farm_cad_number,
              "farm_tax_number": data_temp.farm_tax_number,
            };
            console.log(geom);
            $.ajax({
              url: '{{ url_for('api.crop.crop_main') }}',
              type: 'POST',
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              xhrFields: {
                withCredentials: true,
              },
              success: function (data) {
                map.spin(false);
                map.removeControl(drawControl);
                drawnItems.clearLayers();
                drawControl = new L.Control.Draw(options);
                map.addControl(drawControl);
                setLayer();
              }
            })
          }
        })
      }
    })

    // drawnItems.clearLayers();

    // fetch('http://localhost:1001/save', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify(geom)
    // })
    //     .then(data => {
    //         // location.reload();
    //         renderData = null
    //         addGeoJson()
    //         // console.log(geom);
    //     })
  })

  map.on(L.Draw.Event.EDITED, function (e) {
    
    var number = Object.keys(e.layers._layers)[0];
    var layer = e.layers._layers[number];
    console.log(layer)
    var feature = layer.feature;
    var data_temp = feature.properties;
    var objects = layer.getLatLngs();
    var geom = [[]];
    // o.Point {x: 744794.1851014761, y: -5309112.129212381}
    var first = "";
    for (var i = 0; i < objects.length; i++) {
      if (i == 0) {
        first = new L.latLng(objects[i].lat, objects[i].lng)};

      var latlng = new L.latLng(objects[i].lat, objects[i].lng);
      var point = latlng; 

      geom[0].push([point['lng'], point['lat']]);
    }
    geom[0].push([first['lng'], first['lat']]);

    var area = null

    $.ajax({
      url: '{{ url_for('api.crop.calc_area') }}',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({
        geom: geom,
      }),
      async: false,
      success: function (data) {
        area = data['area'];
      }
    })

    let popupContent = `<div class='save-polygon'>
      <input name='area' value='${full_name}' readonly><label for='area'>Full name</label>
      <input name='area' value='${area.toFixed(2)}' readonly><label for='area'>Umumiy maydoni (ga)</label>
      <input name="contour_number" value='${data_temp.contour_number}'><label for="contour_number">Kontur raqami</label>
      <input name="ball_bonitet" value='${data_temp.ball_bonitet}'><label for="ball_bonitet">Hosildorlik (t)</label>`;

    $.ajax({
      url: '{{ url_for('api.crop.get_select_data') }}',
      type: 'GET',
      dataType: 'json',
      xhrFields: {
        withCredentials: true,
      },
      success: function (data) {
        console.log(data_temp);
        // console.log(data);
        /*data.forEach(element => {
          popupContent += "<option value='" + element.code + "'>" + element.name + "</option>";
        });
        popupContent += "</select>";*/
        Object.keys(data).forEach(key => {
          popupContent += "<select name='" + data[key]['key'] + "' required>"
            data[key]['items'].forEach(element => {
              popupContent += "<option value='" + element.id + `' ${element.id == data_temp[data[key]['key']] ? "selected" : ""}>` + element.name + "</option>";
            });
          popupContent += "</select>";
          popupContent += "<label for='" + data[key]['key'] + "'>" + data[key]['name'] + "</label>";
        });
        popupContent += "<button id='edit-polygon-btn' class='btn btn-success' style='padding-top: 10px'>Save</button></div>";
        layer.bindPopup(popupContent).openPopup();
        $("#edit-polygon-btn").click(function () {
          let contour_number = $("input[name='contour_number']").val();
          let ball_bonitet = $("input[name='ball_bonitet']").val();
          let crop_name = $("select[name='crop_name']").val();
          let land_type_id = $("select[name='land_type_id']").val();
          let planting_type_id = $("select[name='planting_type_id']").val();
          let planting_method_id = $("select[name='planting_method_id']").val();
          if (crop_name != null && contour_number != null && ball_bonitet != null && land_type_id != null && planting_type_id != null && planting_method_id != null) {
            let data = {
              "geom": geom,
              "crop_name": crop_name,
              "contour_number": contour_number,
              "productivity": ball_bonitet,
              "district_id": data_temp.district_id,
              "land_type_id": land_type_id,
              "planting_type_id": planting_type_id,
              "planting_method_id": planting_method_id,
              "farm_cad_number": data_temp.farm_cad_number,
              "farm_tax_number": data_temp.farm_tax_number,
              "id": data_temp.id,
              "leaflet_id": layer._leaflet_id,
            };
            console.log(data)
            $.ajax({
              url: '{{ url_for('api.crop.edit') }}',
              type: 'POST',
              dataType: 'json',
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(data),
              xhrFields: {
                withCredentials: true,
              },
              success: function (data) {
                map.spin(false);
                map.closePopup()
                map.removeControl(drawControl);
                drawControl = new L.Control.Draw(options);
                map.addControl(drawControl);
                Object.keys(allGeoJson).forEach(function (key) {
                  map.removeLayer(allGeoJson[key])
                })
                setLayer();
              }
            })
          }
        })
      }
    })  

  });

  map.on('draw:deleted', function (e) {
    let number = Object.keys(e.layers._layers)[0];
    let layer = e.layers._layers[number];
    let feature = layer.feature;
    let data_temp = feature.properties;
    let data = {
      "id": data_temp.id,
      "leaflet_id": layer._leaflet_id,
    };
    $.ajax({
      url: '{{ url_for('api.crop.delete') }}',
      type: 'POST',
      dataType: 'json',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify(data),
      xhrFields: {
        withCredentials: true,
      },
      success: function (data) {
        map.spin(false);
        map.removeControl(drawControl);
        drawControl = new L.Control.Draw(options);
        map.addControl(drawControl);
        setLayer();
      }
    })
  });
  function cancel() {
    console.log("True")
    map.removeControl(drawControl);
    var options = {
      position: 'topright',
      draw: {
        polygon: {
          allowIntersection: false, // Restricts shapes to simple polygons
          drawError: {
            color: 'blue', // Color the shape will turn when intersects
            message: '<strong>Oh snap!<strong> you can\'t draw that!', // Message that will show when intersect
          },
          shapeOptions: {
            color: 'red',
          }
        },
        circle: false,
        circlemarker: false,
        marker: false,
        polyline: false,
        rectangle: false,
      },
      edit: {
        featureGroup: drawnItems,
        remove: true,
      }
    };
    var drawControl = new L.Control.Draw(options);
    map.addControl(drawControl);
  };

  map.on('draw:deletestop', function (e) {
    map.removeControl(drawControl);
    drawControl = new L.Control.Draw(options);
    map.addControl(drawControl);
  });

  map.on('draw:editstop', function (e) {
    map.removeControl(drawControl);
    drawControl = new L.Control.Draw(options);
    map.addControl(drawControl);
  });

</script>
{% endblock%}