{% extends "layout/base.html" %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Users</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List</h3>
              </div>
              <!-- ./card-header -->
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Username</th>
                      <th>Date added</th>
                      <th>Last logged in</th>
                      <th>District</th>
                      {% for p in data['perms'] %}
                      <th>{{ p }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in data['users'] %}
                    <tr>
                      <td>{{ user['id'] }}</td>
                      <td>{{ user['login'] }}</td>
                      <td>{{ user['created_at'] }}</td>
                      <td>{{ user['last_login'] }}</td>
                      <td>{{ user['district'] }}</td>
                      {% for p in user['permissions'] %}
                      <td>{{ p['value'] }}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}